#cloud-config
package_update: true
package_upgrade: true
packages:
  - ca-certificates
  - curl
  - fuse-overlayfs
  - jq
  - nftables
  - podman
  - slirp4netns
  - squid
  - uidmap

users:
  - default
  - name: researchd
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundryworker
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundryvalidator
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundrypublisher
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundrymigrator
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundrygateway
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundryegress
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin
  - name: foundrysentinel
    lock_passwd: true
    create_home: true
    shell: /usr/sbin/nologin

ssh_pwauth: false
disable_root: true

write_files:
  - path: /etc/sysctl.d/90-foundry-rootless.conf
    owner: root:root
    permissions: '0644'
    content: |
      kernel.unprivileged_userns_clone=1
  - path: /etc/foundry/DEPLOYMENT_STATUS
    owner: root:root
    permissions: '0644'
    content: |
      HOST_BOOTSTRAPPED_APPLICATION_NOT_DEPLOYED
  - path: /etc/nftables.conf
    owner: root:root
    permissions: '0600'
    content: |
${indent(6, nftables_config)}
  - path: /etc/squid/squid.conf
    owner: root:root
    permissions: '0600'
    content: |
${indent(6, squid_config)}

runcmd:
  - [nft, --check, --file, /etc/nftables.conf]
  - [squid, -k, parse]
  - [systemctl, enable, --now, nftables]
  - [systemctl, enable, --now, squid]
  - [sysctl, --system]
  - [loginctl, enable-linger, researchd]
  - [loginctl, enable-linger, foundryworker]
  - [loginctl, enable-linger, foundryvalidator]
  - [loginctl, enable-linger, foundrypublisher]
  - [loginctl, enable-linger, foundrymigrator]
  - [loginctl, enable-linger, foundrygateway]
  - [loginctl, enable-linger, foundryegress]
  - [loginctl, enable-linger, foundrysentinel]
  - [install, -d, -m, '0700', -o, researchd, -g, researchd, /var/lib/foundry/researchd]
  - [install, -d, -m, '0700', -o, foundryworker, -g, foundryworker, /var/lib/foundry/worker]
  - [install, -d, -m, '0700', -o, foundryvalidator, -g, foundryvalidator, /var/lib/foundry/validator]
  - [install, -d, -m, '0700', -o, foundrypublisher, -g, foundrypublisher, /var/lib/foundry/publisher]
  - [install, -d, -m, '0700', -o, foundrymigrator, -g, foundrymigrator, /var/lib/foundry/migrator]
  - [install, -d, -m, '0700', -o, foundrygateway, -g, foundrygateway, /var/lib/foundry/gateway]
  - [install, -d, -m, '0700', -o, foundryegress, -g, foundryegress, /var/lib/foundry/egress]
  - [install, -d, -m, '0700', -o, foundrysentinel, -g, foundrysentinel, /var/lib/foundry/sentinel]

final_message: "Foundry research host bootstrap finished. No application or secret was deployed."
